@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Pacifico&family=Whisper&display=swap');



.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(50, 120, 90, 0.5), rgba(50, 120, 90, 0.5)),
              url('../../assets/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  display:flex;
}

.hero-text {
  text-align: center;
  max-width: 800px;
 
  padding: 20px;
  border-radius: 10px; /* Optional: rounded corners */
  margin: auto; /* Center the hero text */
}
 
h1{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400; 
}

  
  