.login-container {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-image img {
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #333;
    max-width: 500px;
    margin: auto;
  }
  
  .login-form h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .login-form p {
    color: #666;
    margin-bottom: 20px;
  }
  
  label {
    color: #333;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .login-options a {
    color: #3cb371; /* Green color for links */
    text-decoration: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #3cb371;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #3cb371;
    text-decoration: none;
  }
  
  .social-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-login p {
    margin-bottom: 10px;
    color: #666;
  }
  
  .social-icons i {
    color: #3cb371;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  